   /* h1{
            color :aqua;
            background-color: rgb(89, 0, 255);
            font: optional;
            font-size: larger;
            font-family: 'Courier New', Courier, monospace;
        }

body {
    background-color: rgb(135, 135, 219);
}

button{
    background-color: violet;
    color: aliceblue;
} */

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black ;
    margin: 5px ;
    text-align: center;
    background-color: aquamarine;
}